<span id="panel" class="icons ui-widget ui-widget-content ui-corner-all">
  <ul class="icons">
    <li class="ui-state-default ui-corner-all">
      <%= link_to "<span class='ui-icon ui-icon-pencil'/>", edit_step_path(@step), {:title => 'Edit the step'} %>
    </li>
  </ul>
</span>
<div class="clearfix"></div>