<span id="panel" class="icons ui-widget ui-widget-content ui-corner-all">
  <ul class="icons">
    <li class="ui-state-default ui-corner-all" title="Edit the step">
      <%= link_to "Edit", edit_step_path(@step), {:id => 'edit'} %>
    </li>
  </ul>
</span>
<div class="clearfix"></div>