<span id="panel" class="icons ui-widget ui-widget-content ui-corner-all">
  <ul class="icons">
    <li class="ui-state-default ui-corner-all">
      <%= link_to_with_tooltip "<span class='ui-icon ui-icon-pencil'/>", edit_story_path(story), 'Edit the features information' %>
    </li>
  </ul>
</span>
<div class="clearfix"></div>