<% content_for :side_bar do %>
	<ul id="feature_stories">
	<% if !features.blank? %>
	  <% features.each_with_index do |feature, index| %>
			<li id="feature_<%=feature.id%>_story" class="feature_item_<%= index %>" style="display: none;">
				<h3><%=h feature.title %></h3>
			<% if !feature.stories.blank? %>
			  <% for story in feature.stories %>
					<div>
						<%=h story.scenario %>
					</div>
			  <% end %>
				
			<%else%>
				Feature does not have any stories yet.
			<% end %>
			</li>
	  <% end %>
	</ul>
	<% else %>
	  <p>No stories</p>
	<% end %>
<% end %>

