<% content_for :side_bar do %>
	<ul id="project_features">
	<% if !projects.blank? %>
	  <% for project in projects %>
			<% if !project.features.blank? %>
				<li id="project_<%=project.id%>_feature" style="display: none;">
					<h3><%=h project.title %></h3>
			  <% for feature in project.features %>
					<div>
				    <b>Title: </b><%=h feature.title %><br/>
						<b>Body: </b><%=h feature.body %>
					</div>
			  <% end %>
				</li>
			<% end %>
	  <% end %>
	</ul>
	<% else %>
	  <p>No projects</p>
	<% end %>
<% end %>

