html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

#content #lists { margin: 23px; }
#content #lists .order_icon { bottom: 5px; float: right; height: 20px; width: 88px; top: 4px; }
#content #lists .order_box { float: left; width: 15px; height: 15px; display: inline-block; text-align: center; margin: 2px; top: 2px; }
#content #lists ul { list-style: none; list-style-position: outside; }
#content #lists span.active, #content #lists span.order_box, #content #lists li span.icons { background: #89A407 none repeat scroll 0 0; border: thin solid #785C17; display: inline-block; position: relative; }
#content #lists ul > li { background: #FCFDEF none repeat scroll 0 0; border-bottom: thin solid #BACA54; border-top: thin solid #EDF2BF; margin: 3px; min-height: 35px; padding: 5px 8px 0; }
#content #lists ul > li .list_content { display: inline-block; padding-left: 13px; width: 74%; }
#content li span.icons { bottom: 5px; float: right; height: 20px; top: 4px; width: 88px; }
#content li span.icons a { float: left; }

#cloud_tag { font-size: 1em; line-height: 1.2em; border-top: #89A407 thin solid; border-bottom: #89A407 thin solid; margin: auto; padding: 2px; margin-left: 10px; margin-top: 5px; margin-right: 10px; }
#cloud_tag .xxs, #cloud_tag .xs, #cloud_tag .s, #cloud_tag .l, #cloud_tag .xl, #cloud_tag .xxl { line-height: 1.2em; }
#cloud_tag .xxs { font-size: 0.5em; }
#cloud_tag .xs { font-size: 0.667em; }
#cloud_tag .s { font-size: 0.75em; }
#cloud_tag .l { font-size: 1.333em; }
#cloud_tag .xl { font-size: 1.5em; }
#cloud_tag .xxl { font-size: 2em; }
#cloud_tag a { text-decoration: none; }
#cloud_tag a:hover { text-decoration: underline; }
#cloud_tag .css1 { font-size: 1.0em; }
#cloud_tag .css2 { font-size: 1.2em; }
#cloud_tag .css3 { font-size: 1.4em; }
#cloud_tag .css4 { font-size: 1.6em; }

#search ul .autocomplete { background-color: white; border: thin solid black; position: absolute; z-index: 1; }

.overlabel { position: relative; }
.overlabel label { color: #999999; cursor: text; left: 9px; position: absolute; top: 9px; }

#menu { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; font-size: 16px; padding-left: 29px; background: #4B5425; color: #C1C4B5; height: 30px; }
#menu { display: block; }
#menu li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: [padding]; padding-right: [padding]; }
#menu li.first { padding-left: 0px; }
#menu li.last { padding-right: 0px; }
#menu #menu-item { margin: auto; padding-left: 29px; padding-top: 4px; }
#menu a:link, #menu a:active { color: #785C17; }
#menu a:visited { color: #C1C4B5; }
#menu a:hover { color: #89A407; }

#errorExplanation { padding-left: 15px; }
#errorExplanation ul { border: none; padding: 0; }

#content .fieldWithErrors option, #content .fieldWithErrors textarea, #content .fieldWithErrors input { background: red; }

.container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
.container { display: block; }

.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 { display: inline; float: left; margin-right: 10px; }
* html .column, * html div.span-1, * html div.span-2, * html div.span-3, * html div.span-4, * html div.span-5, * html div.span-6, * html div.span-7, * html div.span-8, * html div.span-9, * html div.span-10, * html div.span-11, * html div.span-12, * html div.span-13, * html div.span-14, * html div.span-15, * html div.span-16, * html div.span-17, * html div.span-18, * html div.span-19, * html div.span-20, * html div.span-21, * html div.span-22, * html div.span-23, * html div.span-24 { overflow-x: hidden; }

.last, div.last { margin-right: 0; }

.span-1 { width: 30px; }

.span-2 { width: 70px; }

.span-3 { width: 110px; }

.span-4 { width: 150px; }

.span-5 { width: 190px; }

.span-6 { width: 230px; }

.span-7 { width: 270px; }

.span-8 { width: 310px; }

.span-9 { width: 350px; }

.span-10 { width: 390px; }

.span-11 { width: 430px; }

.span-12 { width: 470px; }

.span-13 { width: 510px; }

.span-14 { width: 550px; }

.span-15 { width: 590px; }

.span-16 { width: 630px; }

.span-17 { width: 670px; }

.span-18 { width: 710px; }

.span-19 { width: 750px; }

.span-20 { width: 790px; }

.span-21 { width: 830px; }

.span-22 { width: 870px; }

.span-23 { width: 910px; }

.span-24, div.span-24 { width: 950px; margin: 0; }

input.span-1, textarea.span-1, select.span-1 { width: 30px !important; }
input.span-2, textarea.span-2, select.span-2 { width: 70px !important; }
input.span-3, textarea.span-3, select.span-3 { width: 110px !important; }
input.span-4, textarea.span-4, select.span-4 { width: 150px !important; }
input.span-5, textarea.span-5, select.span-5 { width: 190px !important; }
input.span-6, textarea.span-6, select.span-6 { width: 230px !important; }
input.span-7, textarea.span-7, select.span-7 { width: 270px !important; }
input.span-8, textarea.span-8, select.span-8 { width: 310px !important; }
input.span-9, textarea.span-9, select.span-9 { width: 350px !important; }
input.span-10, textarea.span-10, select.span-10 { width: 390px !important; }
input.span-11, textarea.span-11, select.span-11 { width: 430px !important; }
input.span-12, textarea.span-12, select.span-12 { width: 470px !important; }
input.span-13, textarea.span-13, select.span-13 { width: 510px !important; }
input.span-14, textarea.span-14, select.span-14 { width: 550px !important; }
input.span-15, textarea.span-15, select.span-15 { width: 590px !important; }
input.span-16, textarea.span-16, select.span-16 { width: 630px !important; }
input.span-17, textarea.span-17, select.span-17 { width: 670px !important; }
input.span-18, textarea.span-18, select.span-18 { width: 710px !important; }
input.span-19, textarea.span-19, select.span-19 { width: 750px !important; }
input.span-20, textarea.span-20, select.span-20 { width: 790px !important; }
input.span-21, textarea.span-21, select.span-21 { width: 830px !important; }
input.span-22, textarea.span-22, select.span-22 { width: 870px !important; }
input.span-23, textarea.span-23, select.span-23 { width: 910px !important; }
input.span-24, textarea.span-24, select.span-24 { width: 950px !important; }

.append-1 { padding-right: 40px; }

.append-2 { padding-right: 80px; }

.append-3 { padding-right: 120px; }

.append-4 { padding-right: 160px; }

.append-5 { padding-right: 200px; }

.append-6 { padding-right: 240px; }

.append-7 { padding-right: 280px; }

.append-8 { padding-right: 320px; }

.append-9 { padding-right: 360px; }

.append-10 { padding-right: 400px; }

.append-11 { padding-right: 440px; }

.append-12 { padding-right: 480px; }

.append-13 { padding-right: 520px; }

.append-14 { padding-right: 560px; }

.append-15 { padding-right: 600px; }

.append-16 { padding-right: 640px; }

.append-17 { padding-right: 680px; }

.append-18 { padding-right: 720px; }

.append-19 { padding-right: 760px; }

.append-20 { padding-right: 800px; }

.append-21 { padding-right: 840px; }

.append-22 { padding-right: 880px; }

.append-23 { padding-right: 920px; }

.prepend-1 { padding-left: 40px; }

.prepend-2 { padding-left: 80px; }

.prepend-3 { padding-left: 120px; }

.prepend-4 { padding-left: 160px; }

.prepend-5 { padding-left: 200px; }

.prepend-6 { padding-left: 240px; }

.prepend-7 { padding-left: 280px; }

.prepend-8 { padding-left: 320px; }

.prepend-9 { padding-left: 360px; }

.prepend-10 { padding-left: 400px; }

.prepend-11 { padding-left: 440px; }

.prepend-12 { padding-left: 480px; }

.prepend-13 { padding-left: 520px; }

.prepend-14 { padding-left: 560px; }

.prepend-15 { padding-left: 600px; }

.prepend-16 { padding-left: 640px; }

.prepend-17 { padding-left: 680px; }

.prepend-18 { padding-left: 720px; }

.prepend-19 { padding-left: 760px; }

.prepend-20 { padding-left: 800px; }

.prepend-21 { padding-left: 840px; }

.prepend-22 { padding-left: 880px; }

.prepend-23 { padding-left: 920px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 { display: inline; float: left; position: relative; }

.pull-1 { margin-left: -40px; }

.pull-2 { margin-left: -80px; }

.pull-3 { margin-left: -120px; }

.pull-4 { margin-left: -160px; }

.pull-5 { margin-left: -200px; }

.pull-6 { margin-left: -240px; }

.pull-7 { margin-left: -280px; }

.pull-8 { margin-left: -320px; }

.pull-9 { margin-left: -360px; }

.pull-10 { margin-left: -400px; }

.pull-11 { margin-left: -440px; }

.pull-12 { margin-left: -480px; }

.pull-13 { margin-left: -520px; }

.pull-14 { margin-left: -560px; }

.pull-15 { margin-left: -600px; }

.pull-16 { margin-left: -640px; }

.pull-17 { margin-left: -680px; }

.pull-18 { margin-left: -720px; }

.pull-19 { margin-left: -760px; }

.pull-20 { margin-left: -800px; }

.pull-21 { margin-left: -840px; }

.pull-22 { margin-left: -880px; }

.pull-23 { margin-left: -920px; }

.pull-24 { margin-left: -960px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 { display: inline; float: right; position: relative; }

.push-1 { margin: 0 -40px 1.5em 40px; }

.push-2 { margin: 0 -80px 1.5em 80px; }

.push-3 { margin: 0 -120px 1.5em 120px; }

.push-4 { margin: 0 -160px 1.5em 160px; }

.push-5 { margin: 0 -200px 1.5em 200px; }

.push-6 { margin: 0 -240px 1.5em 240px; }

.push-7 { margin: 0 -280px 1.5em 280px; }

.push-8 { margin: 0 -320px 1.5em 320px; }

.push-9 { margin: 0 -360px 1.5em 360px; }

.push-10 { margin: 0 -400px 1.5em 400px; }

.push-11 { margin: 0 -440px 1.5em 440px; }

.push-12 { margin: 0 -480px 1.5em 480px; }

.push-13 { margin: 0 -520px 1.5em 520px; }

.push-14 { margin: 0 -560px 1.5em 560px; }

.push-15 { margin: 0 -600px 1.5em 600px; }

.push-16 { margin: 0 -640px 1.5em 640px; }

.push-17 { margin: 0 -680px 1.5em 680px; }

.push-18 { margin: 0 -720px 1.5em 720px; }

.push-19 { margin: 0 -760px 1.5em 760px; }

.push-20 { margin: 0 -800px 1.5em 800px; }

.push-21 { margin: 0 -840px 1.5em 840px; }

.push-22 { margin: 0 -880px 1.5em 880px; }

.push-23 { margin: 0 -920px 1.5em 920px; }

.push-24 { margin: 0 -960px 1.5em 960px; }

.prepend-top { margin-top: 1.5em; }

.append-bottom { margin-bottom: 1.5em; }

body.salad { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
body.salad h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
body.salad h1 img { margin: 0; }
body.salad h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }
body.salad h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
body.salad h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
body.salad h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
body.salad h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }
body.salad h2 img, body.salad h3 img, body.salad h4 img, body.salad h5 img, body.salad h6 img { margin: 0; }
body.salad p { margin: 0 0 1.5em; }
body.salad p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
body.salad p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
body.salad a { text-decoration: underline; color: #000099; }
body.salad a:visited { color: #000066; }
body.salad a:focus { color: black; }
body.salad a:hover { color: black; }
body.salad a:active { color: #cc0099; }
body.salad blockquote { margin: 1.5em; color: #666; font-style: italic; }
body.salad strong { font-weight: bold; }
body.salad em { font-style: italic; }
body.salad dfn { font-style: italic; font-weight: bold; }
body.salad sup, body.salad sub { line-height: 0; }
body.salad abbr, body.salad acronym { border-bottom: 1px dotted #666; }
body.salad address { margin: 0 0 1.5em; font-style: italic; }
body.salad del { color: #666; }
body.salad pre { margin: 1.5em 0; white-space: pre; }
body.salad pre, body.salad code, body.salad tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
body.salad li ul, body.salad li ol { margin: 0 1.5em; }
body.salad ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }
body.salad ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }
body.salad dl { margin: 0 0 1.5em 0; }
body.salad dl dt { font-weight: bold; }
body.salad dd { margin-left: 1.5em; }
body.salad table { margin-bottom: 1.4em; width: 100%; }
body.salad th { font-weight: bold; }
body.salad thead th { background: #c3d9ff; }
body.salad th, body.salad td, body.salad caption { padding: 4px 10px 4px 5px; }
body.salad tr.even td { background: #e5ecf9; }
body.salad tfoot { font-style: italic; }
body.salad caption { background: #eee; }
body.salad .quiet { color: #666666; }
body.salad .loud { color: #111111; }

body.salad .box { padding: 1.5em; margin-bottom: 1.5em; background: #E5ECF9; }
body.salad div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eeeeee; }
body.salad div.colborder { padding-right: 24px; margin-right: 25px; border-right: 1px solid #eeeeee; }
body.salad hr { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; }
body.salad hr.space { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; background: #fff; color: #fff; }

body.salad .clear { clear: both; }
body.salad .nowrap { white-space: nowrap; }
body.salad .clearfix { overflow: hidden; display: inline-block; }
body.salad .clearfix { display: block; }
body.salad .small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
body.salad .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body.salad .first { margin-left: 0; padding-left: 0; }
body.salad .last { margin-right: 0; padding-right: 0; }
body.salad .top { margin-top: 0; padding-top: 0; }
body.salad .bottom { margin-bottom: 0; padding-bottom: 0; }
body.salad .showgrid { background: url('/images/grid.png?1256248442'); }
body.salad .error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body.salad .error a { color: #8a1f11; }
body.salad .notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body.salad .notice a { color: #514721; }
body.salad .success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body.salad .success a { color: #264409; }
body.salad .hide { display: none; }
body.salad .highlight { background: yellow; }
body.salad .added { background: #006600; color: white; }
body.salad .removed { background: #990000; color: white; }
body.salad label { font-weight: bold; }
body.salad fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
body.salad legend { font-weight: bold; font-size: 1.2em; }
body.salad input.text, body.salad input.title, body.salad input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }
body.salad input.title { font-size: 1.5em; }
body.salad input[type=checkbox], body.salad input.checkbox, body.salad input[type=radio], body.salad input.radio { position: relative; top: 0.25em; }
body.salad textarea { margin: 0.5em 0; padding: 5px; }
body.salad select { margin: 0.5em 0; }
body.salad fieldset { border: 1px solid #cccccc; }
body.salad input.text, body.salad input.title, body.salad textarea, body.salad select { border: 1px solid #bbbbbb; }
body.salad input.text:focus, body.salad input.title:focus, body.salad textarea:focus, body.salad select:focus { border: 1px solid #666666; }
body.salad input.text, body.salad input.title { width: 300px; }
body.salad textarea { width: 390px; height: 250px; }
body.salad a { color: #c1c4b5; color: inherit; text-decoration: inherit; cursor: inherit; }
body.salad a:visited { color: #c1c4b5; }
body.salad a:focus { color: #c1c4b5; }
body.salad a:hover { color: #785c17; }
body.salad a:active { color: #c1c4b5; }
body.salad #header { height: 80px; }
body.salad #header #logo { font-size: 32px; }
body.salad #header #slogan, body.salad #header #logo { padding-left: 30px; }
body.salad #footer { text-align: center; }
body.salad #header, body.salad #footer { height: 80px; color: #c1c4b5; background: #89a407; height: auto; display: inline; float: left; margin-right: 10px; width: 950px; }
* html body.salad #header, * html body.salad #footer { overflow-x: hidden; }
body.salad #container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; background: #F5F9DD; border: thin solid black; }
body.salad #container { display: block; }
body.salad #container #sidebar { display: inline; float: left; margin-right: 0; width: 310px; margin: 1px; }
* html body.salad #container #sidebar { overflow-x: hidden; }
body.salad #container #sidebar li { list-style-type: none; margin-left: 0px; }
body.salad #container #content { display: inline; float: left; margin-right: 10px; width: 630px; margin: 1px; background: #F5F9DD; }
* html body.salad #container #content { overflow-x: hidden; }
body.salad #container #content #info { display: inline; float: left; margin-right: 0; width: 630px; margin-left: 23px; padding-bottom: 10px; }
* html body.salad #container #content #info { overflow-x: hidden; }
body.salad #container #content .info, body.salad #container #content .summary { display: inline; float: left; margin-right: 10px; width: 290px; height: 150px; border-top: thin solid #785C17; border-bottom: thin solid #785C17; }
* html body.salad #container #content .info, * html body.salad #container #content .summary { overflow-x: hidden; }
