.hover
  position: relative
  top: 10px
  margin: 13px 13px auto auto !important
  top: 0px
  width: 94%
  height: auto
  padding: 10px
  display: inline-block
  h3
    text-align: center
    padding: 0 5px
.title-fixed
  position: fixed
  top: 0
  width: 270px
  float: left
.fixed
  position: fixed
  top: 0px
  width: 270px
  float: left
  display: inline-block