.hover
  position: relative
  width: 418px
  padding: 5px
  top: 10px
.title-fixed
  position: fixed
  top: 0
  width: 270px
  float: left
.fixed
  position: fixed
  top: 23px
  width: 270px
  float: left
  display: inline-block