#content
  #lists
    :margin 23px
    span.order_icon
      background: #785C17 none repeat scroll 0 0
      border: thin solid #89A407
      color: #C1C4B5
      float: right
      position: relative
      right: 30px
      top: -42px
      text-align: center
      height: 23px
      width: 40px
    .order_box
      :float left
      :width 15px
      :height 15px
      :display inline-block
      :text-align center
      :margin 2px
      :top 2px   
    ul
      :list-style none
      :list-style-position outside
    span.active, span.order_box, li span.icons
      :background #89A407 none repeat scroll 0 0
      :border thin solid #785C17
      :display inline-block
      :position relative
    ul > li
      :background #FCFDEF none repeat scroll 0 0
      :border-bottom thin solid #BACA54
      :border-top thin solid #EDF2BF
      :margin 3px
      :min-height 35px
      :padding 5px 8px 0
    .list_content
      :display inline-block
      :padding-left 13px
      :width 74%
  li span.icons
    :bottom 5px
    :float right
    :height 20px
    :top 4px
    :width 88px
    a
      :float left
