li.icons
  cursor:pointer
  list-style-image:none
  list-style-position:outside
  list-style-type:none
  margin:2px
  padding:4px 0
  position:relative
  float:left
  width: 20px
  height: 25px
ul.icons
  height: 25px