* {
	list-style:none;
	list-style-position:outside;
	list-type:none;
	border-color:gray;
	font: arial, serif;
}

a {
	text-decoration:none;
}

form {
	padding-top:13px;
	padding-bottom:13px;
}

#menu a:link,
a:active {
	color:#785C17;
}

#menu a:visited {
	color:#C1C4B5;
}

#menu a:hover {
	color:#89A407;
}

a:link,
a:active,
a:visited {
	color:#C1C4B5;
}

a:hover {
	color:#785C17;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
	
  line-height: 18px;
}

a, body {
	color:#C1C4B5;
}
body {
	margin:auto;
	height:100%;
	background-color:#FFFFFF;
}

#logo {
	font-size:32px;
	margin-top:30px;	
}

#logo,
#slogan {
	padding-left:30px;
	position:absolute;
}

#slogan {
	bottom:0;
}
#container {
	height:auto;
	width:100%;
	display:inline-block;
	position:relative;
}

#head {
	background:#89a407;
	color:#c1c4b5;
	height: 80px;
	position:relative;
}

#foot,
#head {
	border-top:thin solid #785C17;
}

#foot {
	background:#89a407;
	text-align:center;
}

#content {
	background:#f5f9dd;
	margin:32px auto;
	border:thin solid black;
	width:900px;
	postition:relative;
}

#right_column h3 {
	text-align:center;
}
#right_column {
	float:left;
	width:260px;
	height:auto;
	background:#785c17;
	margin-bottom:0;
	margin-top:0;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:260px;
	border-left:thin solid #89A407;
}

#main {
	width:69%;
	color:#4b5425;
	padding-left: 10px;
	padding-right:10px;
}

#menu-items {
	margin:auto;
	padding-left:29px;
	padding-top:4px;
}

#menu {
	color:#c1c4b5;
	background:#4b5425;
	height:30px;
	display:block;
	border-top: thin solid #785C17;
	border-bottom: thin solid #785C17;
}

#lists {
	width:100%;
	margin:auto;
	display:inline-block;
}

.info {
	width:300px;
	height:100px;
	border-top:thin solid #785C17;
	border-bottom:thin solid #785C17;
}

.story_summary,
.feature_summary,
.project_summary {
	float:right;
}

.step_info,
.story_info,
.feature_info,
.project_info {
	float:left;
}
.project_info > h3,
.info {
	margin-right:10px;
}

.list_content {
	width:300px;
	display:inline-block;
	padding-left:13px;
}

#left_list li {
	float:left;
}

ul {
	width:97%;
	margin:10px 0px;
	padding:15px 4px 5px;
	border-top:thin solid #785C17;
	border-bottom:thin solid #785C17;
	display:inline-block;
}


div#lists ul li {
	border-top:thin solid #edf2bf;
	border-bottom:thin solid #baca54;
	padding:5px 8px 0px 8px;
	background:#fcfdef;
	margin:3px;
	min-height:35px;
}

span.order_box,
span.order_icon,
li span.icons {
	background:#89A407 none repeat scroll 0 0;
	border:thin solid #785C17;
	display:inline-block;
	position:relative;
}

span.order_icon {
	float:right;
	margin-right:23px;
	margin-bottom:10px;
	text-align:center;
	height:23px;
	width:40px;
	top:4px;
}

span.icons a {
	padding-left:3px;
}

li span.icons {
	bottom:5px;
	float:right;
	height:20px;
	width:200px;
	top:4px;
}

span.order_box {
	float:left;
	width:15px;
	height:15px;
	display:inline-block;
	text-align:center;
	margin:2px;
	top:2px;
}

#notice {
	background:#89A407 none repeat scroll 0 0;
	border:thin solid #89A407;
	color:#4B5425;
	text-align:center;
	width:71%;
}

#error {
	background:#89A407 none repeat scroll 0 0;
	text-align:center;
	width:71%;
	border:thin solid #785C17;
	color:#785C17;
}

#errorExplanation {
	padding-left:15px;
}

#errorExplanation ul {
	border:none;
}
.fieldWithErrors option,
.fieldWithErrors textarea,
.fieldWithErrors input {
	background:red;
}

.feature_stories {
	position:absolute;
	top:4px;
	display:none;
}

ul#project_features li {
	padding:5px;
}