* {
	list-style:none;
	list-style-position:outside;
	list-type:none;
	border-color:gray;
	font: arial, serif;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
	
  line-height: 18px;
}

a, body {
	color:#C1C4B5;
}
body {
	margin:auto;
	height:100%;
	background-color:#FFFFFF;
}
#container {
	height:auto;
	width:100%;
	display:inline-block;
	position:relative;
}

#head {
	background:#89a407;
	color:#c1c4b5;
	height: 80px;
}

#foot {
	background:#89a407;
}

#content {
	background:#f5f9dd;
	margin:32px auto;
	border:thin solid black;
	width:900px;
	postition:relative;
}

#right_column {
	float:left;
	width:260px;
	height:auto;
	background:#785c17;
	margin-bottom:0;
	margin-top:0;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:260px;
}

#main {
	float:left;
	width:70%;
	color:#4b5425;
	padding-left: 10px;
}

#menu-items {
	margin:auto;
}
#menu {
	color:#c1c4b5;
	background:#4b5425;
	height:30px;
	display:block;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}
#lists {
	padding:5px 0px 5px 0px;
	width:95%;
	margin:auto;
}

ul {
	width:97%;
	margin:10px 0px;
	padding:15px 10px 5px;
	border-top:thin solid silver;
	border-bottom:thin solid silver;
}

ul li {
	border-top:thin solid #edf2bf;
	border-bottom:thin solid #baca54;
	padding:5px 8px;
	background:#fcfdef;
	margin:6px;
}

span.order_icon,
li > span.icons {
	background:#89A407 none repeat scroll 0 0;
	border:thin solid #785C17;
}
span.order_icon {
	float:right;
	margin-right:23px;
	margin-bottom:10px;
	text-align:center;
	height:23px;
	width:40px;
}
li > span.icons {
	bottom:5px;
	display:inline-block;
	float:right;
	height:20px;
	position:relative;
	width:200px;
}