<ul>
	<% @list.each do |file| %>
	  <li>
			<%=h file[:file] %><br/>
			<span><%=h file[:feature_line] %></span><br/>
			<p><%=h file[:in_order] %></p>
			<p><%=h file[:as_a] %></p>
		</li>
	<% end %>
</ul>