<h2>Features to import</h2>
<% if not @to_import.nil? %>
  <div id='features_to_import'>
    <ul id="import_list">
      <% @to_import.each do |feature|%>
      <li><%= link_to "Import #{File.basename(feature.path).sub('.feature', '').gsub('_',' ')}", import_features_path(:path => feature.path) %></li>
      <% end %>
    </ul>
  </div>
<% end %>