<h3>Projects</h3>
<%= render :partial => 'common/cloud_tag', :locals => {:tags => @tags}%>
<%= render :partial => '/common/list/projects', :locals => {:projects => @projects, :order =>false}%>

<%= render :partial => 'common/sidebar/project_features', :locals => {:projects => @projects}%>
