<% if !@projects.blank? %>
  <% @projects.each do |project| %>
    <ul>
			<li>
				<div id="project_title">
					Title: 
					<%=h project.title %>
				</div>
				<div id="project_description">
					Description:
					<%=h project.description %>
				</div>
				<div id="project_aim">
					Aim:
					<%=h project.aim %>
				</div>
				<% if !project.story_ids.blank? %>
					<ul>
				  <% for story in project.stories %>
				    <li><%= story.title%></li>
				  <% end %>
					</ul>
				<% else %>
				  <p>Need to add stories</p>
				<% end %>
				
			</li>
		</ul>
  <% end %>
<% else %>
  <span>No projects available</span>
<% end %>

