<% if !@projects.blank? %>
  <% @projects.each do |project| %>
    <ul>
			<li>
				<div id="project_title">
					Title: 
					<%=h project.title %>
				</div>
				<div id="project_description">
					Description:
					<%=h project.description %>
				</div>
				<div id="project_aim">
					Aim:
					<%=h project.aim %>
				</div>
				<% if !project.feature_ids.blank? %>
					<ul>
				  <% for feature in project.features %>
				    <li><%= feature.title%></li>
				  <% end %>
					</ul>
				<% else %>
				  <p>Need to add feature</p>
				<% end %>
				
			</li>
		</ul>
  <% end %>
<% else %>
  <span>No projects available</span>
<% end %>

