<h3>Projects</h3>

<%= render :partial => '/common/list/projects', :locals => {:projects => @projects, :order =>false}%>

<%= render :partial => 'common/projects_hover', :locals => {:projects => @projects}%>
<%= render :partial => 'common/sidebar/project_features', :locals => {:projects => @projects}%>