<% if !@projects.nil? %>
  <% @projects.each do |project| %>
    <ul>
			<li>
				<div id="project_title">
					Title: 
					<%=h project.title %>
				</div>
				<div id="project_description">
					Description:
					<%=h project.description %>
				</div>
				<div id="project_aim">
					Aim:
					<%=h project.aim %>
				</div>
			</li>
		</ul>
  <% end %>
<% else %>
  <span>No projects available</span>
<% end %>

