<h3>Projects</h3>

<%= render :partial => 'common/cloud_tag', :locals => {:tags => @tags}%>
<div id="list">
  <%= render :partial => '/common/sortable_list',:locals => {:models => @projects, :item_name => 'project', :assoc => 'feature', :order =>false}%>
</div>

<%= render :partial => 'common/hover', :locals => {:items => 'project'}%>
<%= render :partial => 'common/sidebar_items', :locals => {:models => @projects, :assoc => 'features'}%>
