<% content_for :js_head do %>

<% end %>

<div id="lists" class="steps">
	<%= link_to "New Step", new_step_path %>
	<span class="order_icon">Order</span>
	<ul id="steps">
		<% if !steps.blank? %>
		  <% for step in steps %>
		    <% content_tag_for :li, step do %>
					<div>
						<span class="order_box">1</span>
			    	<span class="list_content">
							<b>Title: </b><%=h step.title %><br/>
						</span>
						<%= render :partial => '/common/steps_icons', :locals => {:step => step}%>
					</div>
		    <% end %>
		  <% end %>
		<% else %>
		<p>No steps present.</p>
		<% end %>
	</ul>
</div>

<%= sortable_element( "steps", :url => sort_steps_path, :handle => "order_box")%>