<span class="list_content">
  <b>Scenario: </b><%=h story.scenario %><br/>
  <% if !story.step_ids.empty? %>
    <%= link_to "Steps", story_steps_path(story), {:id=>"story_#{story.id}_steps"} %>
  <% end %>
</span>