<h3>Stories</h3>
<%= render :partial => 'common/cloud_tag', :locals => {:tags => @tags}%>

<%= render :partial => '/common/sortable_list',:locals => {:models => @stories, :item_name => 'story', :assoc => 'step', :order =>false}%>

<%= render :partial => '/common/hover', :locals => {:items => 'story'}%>
<%= render :partial => 'common/sidebar_items', :locals => {:models => @stories, :assoc => 'steps'}%>