<h3>Stories</h3>
<%= render :partial => '/common/list/stories', :locals => {:stories => @stories, :order =>false}%>


<%= render :partial => '/common/stories_hover', :locals => {:stories => @stories}%>
<%= render :partial => 'common/sidebar/story_steps', :locals => {:stories => @stories}%>