<% if !@feature.nil? %>
	<%= render :partial => '/common/model_information', :locals => {:model => @feature}%>
<% end %>
<div style="clear:both;"></div>
<%= render :partial => 'form', :locals => {:story => @story}%>
