<h3><%=h @story.title %></h3>

<b>Scenario: </b><%=h @story.scenario %><br/>

<% if !@story.steps.blank? %>
	<%= render :partial => '/common/steps_list', :locals => {:steps => @story.steps}%>
<% end %>
