<%= render :partial => '/common/model_info_and_summary', :locals => {:model => @story, :assoc => :steps } %>

<div>
  <%= render :partial => '/common/sortable_list',
    :locals => {:models => @story_steps,
    :item_name => 'step',
    :method => :formatted,
    :method_arg => @story_steps,
    :assoc => nil,
    :order =>true}%>

  <%= render :partial => '/common/example_table', :locals => {:story => @story}%>
</div>


<% form_for @story do |f| -%>
    <%= render :partial => '/common/checkboxes', :locals => {:model => @story, :item_name => Step}%>
<% end -%>

