<h3><%=h @story.scenario%></h3>
<%= render :partial => '/common/sortable_list',
  :locals => {:models => @story.steps.paginate(
    :page=> params[:page],
    :order=>"step_stories.position"),
  :item_name => 'step',
  :method => :formatted,
  :method_arg => @story.steps,
  :order =>true}%>