<h3><%=h @story.scenario%></h3>
<%= render :partial => '/common/list/steps', :locals => {:steps => @story.steps.paginate(:page=>1,:order=>"step_stories.position"), :order =>true} %>

<%= render :partial => '/common/sortable_list',
  :locals => {:models => @story.steps.paginate(
    :page=> params[:page],
    :order=>"step_stories.position"),
  :item_name => 'step',
  :order =>true}%>