<% content_for :js_head do %>
	<%= javascript_include_tag "pagination" %>
<% end %>

<% content_for :side_bar do %>
	<%= render 'step_search' %>
<% end %>
<h3>Steps</h3>

<%= render :partial => '/common/sortable_list',
  :locals => {:models => @steps,
  :item_name => 'step',
  :method => :formatted,
  :method_arg => @steps,
  :assoc => nil,
  :order => false}%>
