
<h3>Steps</h3>
<%= render :partial => 'common/cloud_tag', :locals => {:tags => @tags}%>

<%= render :partial => '/common/sortable_list',
  :locals => {:models => @steps,
  :item_name => 'step',
  :method => :formatted,
  :method_arg => @steps,
  :assoc => nil,
  :order => false}%>

<% content_for :side_bar do %>
	<%= render 'step_search' %>
<% end %>
