<% content_for :css_head do %>
<%= stylesheet_link_tag "pretty_diff" %>
<% end %>

<%= render :partial => "legend", :locals => {:diff_from => "system", :diff_to => "file", :change => true}  %>
<div class="clear"></div>
<%= @pretty.to_html %>
