<b>Exported feature: </b><br/>
	<pre><code><%=h @feature.export %></code></pre>
	<form action="<%= feature_path(@feature, :format => 'feature')%>">
		<button class="button">Download</button>		
	</form>