<h3>Features</h3>
<%= render :partial => '/common/list/features', :locals => {:features => @features}%>
<%= render :partial => 'common/sidebar/feature_stories', :locals => {:features => @features}%>
<%= render :partial => '/common/features_hover', :locals => {:features => @features}%>
