<h3>Features</h3>
<%= render :partial => 'common/cloud_tag', :locals => {:tags => @tags}%>

<%= render :partial => '/common/list/features', :locals => {:features => @features, :order =>false}%>
<%= render :partial => 'common/sidebar/feature_stories', :locals => {:features => @features}%>
<%= render :partial => '/common/features_hover', :locals => {:features => @features}%>
