<h3>Features</h3>
<%= link_to "New Feature", new_feature_path %>
<div id="lists" class="features">
	<ul>	
		<% if !@features.blank? %>
		  <% for feature in @features %>
		    <li>
						<b>Title: </b><%= feature.title %><br/>
						<b>Body: </b><%= feature.body %><br/>
						<%= link_to "New Story", new_story_path %>
				</li>
		  <% end %>
		<% end %>
	</ul>
</div>