<div id="feature_info">
	<%= render :partial => '/common/feature_info', :locals => {:feature => @feature} %>
</div>
<div style="clear:both">
<%= render :partial => '/common/list/stories', :locals => {:stories => @feature.stories}%>
<%= render :partial => '/common/stories_hover', :locals => {:stories => @feature.stories}%>
<%= render :partial => 'common/sidebar/story_steps', :locals => {:stories => @feature.stories}%>