<div id="feature_info">
	<%= render :partial => '/common/feature_info', :locals => {:feature => @feature} %>
</div>
<div style="clear:both">
<%= render :partial => '/common/stories_list', :locals => {:stories => @feature.stories}%>