<% content_for :css_head do %>
<%= stylesheet_link_tag "pretty_diff" %>
<% end %>

<%= render :partial => "legend", :locals => {:diff_from => "system", :diff_to => "system"}  %>

<span id="panel" class="ui-widget ui-widget-content ui-corner-all">
  <%= link_to 'Update', system_sync_feature_path(@feature) %>
</span>

<div class="notice">This change will update the system feature</div>

<%= @pretty.to_html %>