<% content_for :css_head do %>
<%= stylesheet_link_tag "pretty_diff" %>
<% end %>

<%= render :partial => "legend", :locals => {:diff_for => "system"}  %>

<span id="panel" class="ui-widget ui-widget-content ui-corner-all">
  <%= link_to 'Update', system_sync_feature_path(@feature) %>
</span>

<%= @pretty.to_html %>