<% content_for :side_bar do %>
	<% if not tags.empty? %>
	<div id="cloud_tag" class="ui-widget ui-widget-content ui-corner-all">
	<h5>Tags</h5>
	<hr />
		<% tag_cloud tags, %w(xxs, xs, s, l, xl, xxl) do |tag, css_class| %>
		  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
		<% end %>
	</div>
	<% end %>
<% end %>

