<% content_for :css_head do %>
	<%= stylesheet_link_tag "cloud_tag" %>
<% end %>

<% content_for :side_bar do %>
	<b>Tags</b><br/>
	<div id="cloud_tag">
		<% tag_cloud tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
		  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
		<% end %>
	</div>
<% end %>

