<% if not story.examples.empty? %>
<hr />
<table class="ui-tabs ui-widget ui-widget-content ui-corner-all">
  <thead>
    <tr>
      <td colspan="<%=story.examples.first.actions.size%>">Examples</td>
    </tr>
    <tr>
    <% story.examples.each do |example| %>
      <% example.actions.each do |action| %>
        <td><%= action.title%></td>
      <% end %>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% story.examples.first.actions.first.items.each_with_index do |item, index| %>
    <tr class="<%=  (index.even?)? 'even' : 'odd' %>">
      <% story.examples.first.actions.each_with_index do |action, width_index| %>
      <td><%= story.examples.first.actions[width_index].items[index].title %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>