<span class="icons">
	<%= link_to "View", feature_path(feature),{:class=>"ui-icon-note ui-icon"} %>
	<%= link_to "Edit", edit_feature_path(feature), {:id=>"edit_feature_#{feature.id}",:class=>"ui-icon-pencil ui-icon"} %>
	<%= link_to "New Story", new_story_path({:feature_id=>feature.id}), {:class=>"ui-icon-document ui-icon"} %>
	<%= link_to 'Destroy', feature, {:class=>"ui-icon-trash ui-icon",:method => :delete,:confirm => 'Are you sure?'} %>
</span>