<div class="features" id="lists">
	<b>Features</b><span class="order_icon">Order</span>
	<ul id="features">
		  <% for feature in features %>
		    <li>
					<span class="order_box">1</span>
		    	<span class="list_content"><b>Title: </b><%= feature.title %><br/>
					<b>Body: </b><%= feature.body %></span>
					<%= render :partial => '/common/feature_icons', :locals => {:feature => feature}%>
				</li>
		  <% end %>
	</ul>
</div>