<div class="feature_summary">
	<h3>Feature Summary</h3>
	<div class='feature info'>
		<%= link_to "Add Story", new_feature_path({:feature_id=>feature.id})%><br/>
		<b>Number of Stories: </b><span><%= feature.stories.count %></span><br/>
		<% if not feature.stories.blank? %>
		<b>Last story: </b><span><%= feature.stories.last.title %></span><br/>
		<% end %>
	</div>
</div>
