<div class='info'>
	<b>Title: </b><span><%= feature.title %></span><br/>
	<b>Created at: </b><span><%= feature.created_at %></span><br/>
	<b>Updated at: </b><span><%= feature.updated_at %></span><br/>
</div>