<% if !Feature.all.empty? %>
<fieldset>
<legend>Features</legend>
<ul id="left_list">
 <% for feature in Feature.find :all %>
   <li>
	<%= check_box_tag "story[feature_ids][]", feature.id, story.features.include?(feature), {:id=>"story_feature_id_#{feature.id}"} %>
		<%= feature.title%>
	</li>
<% end %>
</ul>
</fieldset>
<% else %>
	<ul id="left_list">
  	<li>No features to add</li>
	</ul>
<% end %>