<div class='info'>
	<b>Title: </b><span><%= feature.title %></span><br/>
	<b>Created at: </b><span><%= feature.creation_date %></span><br/>
	<b>Updated at: </b><span><%= feature.updated_date %></span><br/>
</div>