<div class="feature_info">
	<h3>Feature Info</h3>
	<div class='feature info'>
		<b>Title: </b><span><%= feature.title %></span><br/>
		<b>Created at: </b><span><%= feature.created_at %></span><br/>
		<b>Updated at: </b><span><%= feature.updated_at %></span><br/>
	</div>
</div>