<span class="icons">
  <%= link_to "View", {:controller => model.class.to_s.pluralize, :id => model, :action => 'show'}, {:class=>"ui-icon-note ui-icon"} %>
  <%= link_to "Edit", {:controller => model.class.to_s.pluralize, :id => model, :action => 'edit'}, {:id=>"edit_#{model.class.to_s}_#{model.id}",:class=>"ui-icon-pencil ui-icon"} %>
  <%= link_to 'Delete', model, {:class=>"ui-icon-trash ui-icon",:method => :delete,:confirm => 'Are you sure?'} %>
</span>