<span class="icons ui-widget ui-widget-content ui-corner-all">
  <%= link_to "View", {:controller => model.class.to_s.downcase.pluralize, :id => model, :action => 'show'}, {:class=>"ui-icon-note ui-icon"} %>
  <%= link_to "Edit", {:controller => model.class.to_s.downcase.pluralize, :id => model, :action => 'edit'}, {:id=>"edit_#{model.class.to_s.downcase}_#{model.id}",:class=>"ui-icon-pencil ui-icon"} %>
  <% if not assoc.nil? %>
  <%= link_to "New #{assoc.capitalize}", {:controller => assoc.pluralize, :action => :new, "#{model.class.to_s.downcase}_id".to_sym => model.id }, {:class=>"ui-icon-document ui-icon"} %>
  <% end %>
  <%= link_to 'Delete', model, {:class=>"ui-icon-trash ui-icon",:method => :delete,:confirm => 'Are you sure?'} %>
</span>