<span class="icons">
		<%= link_to "View", project_path(project), {:class=>"ui-icon-note ui-icon"}%>
	<%= link_to "Edit", edit_project_path(project),{:class=>"ui-icon-pencil ui-icon"}%>
	<%= link_to "New Feature", new_feature_path({:project_id=>project.id}),{:class=>"ui-icon-document ui-icon"} %>
	<%= link_to 'Delete', project, {:class=>"ui-icon-trash ui-icon",:method => :delete,:confirm => 'Are you sure?'} %>
</span>