<div class='info'>
	<b>Number of features: </b><span><%= project.features.count %></span><br/>
	<% if not project.features.blank? %>
	<b>Last feature: </b><span><%= project.features.last.title %></span><br/>
	<% end %>
</div>
