<div class="project_info">
	<h3>Project Info</h3>
	<div class='project info'>
		<b>Title: </b><span><%= project.title %></span><br/>
		<b>Description: </b><span><%= project.description %></span><br/>
		<b>Aim: </b><span><%= project.aim %></span>
	</div>
</div>