<%= viewable_link "view steps", "fieldset_steps" %>
<% if !@steps.nil? %>
<fieldset id="fieldset_steps" class="views">
	<legend>Steps</legend>
	<ul id="left_list" class="steps">
 <% for step in @steps %>
   <li>
	<%= check_box_tag "story[step_ids][]", step.id, story.steps.include?(step), {:id=>"story_step_id_#{step.id}"} %>
		<%= step.title%>
	</li>
<% end %>
	</ul>
</fieldset>
<% else %>
	<ul>
	  <li>No steps to link to</li>
	</ul>
<% end %>
