<div id="lists" class="stories">
	<ul id="feature_stories">
		<% if !stories.blank? %>
		  <% for story in stories %>
		    <li>
					<div>
			    	<b>Title: </b><%=h story.title %><br/>
						<b>Scenario: </b><%=h story.scenario %><br/>
					</div>
		    </li>
		  <% end %>
		<% else %>
		<p>No stories present.</p>
		<% end %>
	</ul>
</div>