<%= viewable_link "view steps", "fieldset_stories" %>
<% if !Story.all.empty? %>
<fieldset id="fieldset_stories" class="views">
	<legend>Stories</legend>
	<ul id="left_list">
	 <% for story in Story.find :all %>
	   <li>
		<%= check_box_tag "step[story_ids][]", story.id, step.stories.include?(story), {:id=>"step_story_id_#{story.id}"} %>
			<%= story.scenario%>
		</li>
	<% end %>
	</ul>
</fieldset>
<% else %>
	<ul id="left_list">
	  <li>No story to add</li>
	</ul>
<% end %>