<div id="lists" class="stories">
	<span class="order_icon">Order</span>
	<ul id="feature_stories">
		<% if !stories.blank? %>
		  <% for story in stories %>
		    <li id="story_<%=story.id%>_list">
					<div>
						<span class="order_box">1</span>
			    	<span class="list_content"><b>Title: </b><%=h story.title %><br/>
						<b>Scenario: </b><%=h story.scenario %><br/></span>
						<%= render :partial => '/common/stories_icons', :locals => {:story => story}%>
					</div>
		    </li>
		  <% end %>
		<% else %>
		<p>No stories present.</p>
		<% end %>
	</ul>
</div>