<div id="header">
  <span id="logo"><%= link_to "Salad", root_url %></span><br/>
  <span id="slogan">Mixing Clients &amp; Developers with a little special sauce.</span>
  <%= render 'layouts/menu' %>
</div>
<noscript><div class='notice'>This site works best with Javascript enabled</div></noscript>