<html>
<head>
  <title>SaladBowl</title>
</head>
<link type="text/css" rel="stylesheet" href="/stylesheets/application.css"/>
<body>
  <div id="notice" class="notice"><%= flash[:notice] %></div>
  <div id="error" class="error"><%= flash[:error] %></div>
  <%= yield :layout %>
</body>
</html>